.list-item {
  list-style-type: none;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.imgAndGenreContainer {
  display: flex;
  align-items: center;
}
.image {
  width: 200px;
  height: 150px;
}
.genreContainer {
  margin-left: 20px;
}
.heading {
  color: #ffffff;
  font-size: 25px;
  font-weight: bold;
  font-family: 'Roboto';
}
.describe {
  color: #3b82f6;
  font-size: 25px;
  font-weight: bold;
  font-family: 'Roboto';
}
.durationAndDeleteContainer {
  display: flex;
  justify-content: space-between;
  width: 200px;
}
.deleteBtn {
  outline: none;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: #ffffff;
}
